.heroImg{
    height: 150px;
    width: 150px;
    border-radius: 80px;
}
.hero{
    height:100%;
    display: flex;
    flex-direction: row;
}
.informations{
    display: flex;
    flex-direction: column !important;
}
.recap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: visible;
}

.goldenHero{
    border-style: solid;
    border-color: gold;
}

.lifeSvg{
    fill:darkred;
}
.deckSvg{
    fill:darkgoldenrod
}