.heroImg{
    height: 200px;
    width: 200px;
}

.selfHp{
    position: fixed;
    font-size: 2em;
    color: white;
    margin-left: -25px;
    background-color: red;
    border-radius : 15px;
}

.opponentHp{
    font-size: 2em;
    color: white;
    margin-left: -25px;
    background-color: red;
    border-radius : 20px;

}