
.header{
    display: flex;
    justify-content: flex-end;
    padding-top:0px;
}

.buttonDeleteAccount{

    background-color:firebrick !important;
}

 /*See if we can use something else than !important (material ui properties or flex)*/

.buttonDisconnect{
    margin-right: 2% !important;
    background-color:tomato  !important;
}

.matchmaking{
    margin-top: 5%;
    display: flex;
    justify-content:center;
}

.createDeck{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.home{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    text-align: center;
}
.centralPaper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
}